body
{
	margin:0;
	color: black;
}

.side_bar_menu_wrap
{
	
	padding-top:15;
	padding-bottom:15;

	margin:0;
	width: 160;
	height: 536;
	font-size:14px;
	left: 0px;
}

.side_bar_menu_min
{
	left: 15px;
	width: 160px;
	height: 100%;
	position: fixed;
	z-index: 10;
    background: #2b2b2b;
}

.side_bar_toogle
{
	float: left;
	width: 15px;
	height: 100%;
	z-index: 2;
	position: fixed;
    cursor: pointer;
    background: rgb(68, 68, 68);
}

li 
{
    display: list-item;
	margin: 3px;
    text-align: -webkit-match-parent;
}

ul 
{
	text-align: left;
	font-size = 14px;
	font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 20px;
	pading-right: 20px;
}

.header
{
	background-color:white;
	height:90;
	padding-top:10;
	padding-left: 30;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: black;
	padding:10px;
}
.main_div
{
	min-height:100%;
	background-color:white;
	position: absolute;
	left: 175;
	right: 50px;
	box-shadow: 4px 0 8px grey;
}

a
{
	text-decoration: none;
	color: black;
}

.advertising_lenta
{
	background-color:rgba(13, 176, 255, 0.1);
	height: 50px;
	color: black;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 0px solid white;
	font-family:"PT Serif", Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
}

.advertising_lenta:hover
{
	background-color:rgba(13, 176, 255, 0.25);
}

.right_side
{
	right:0px;
	height: 100%;
	background-color: E5E5E5;
	width: 50px;
	position: fixed;
}

.content_s
{
	width: 55%;
	float:left;
	padding-left: 3%;
	padding-right: 0%;
}

span
{
	word-wrap: break-word;
	font-size: 17px;
}

.info_new
{

	width: 30%;
	position: absolute;
	right: 45px;
	background-color: white;
	border: 0.5px solid rgb(225,224,215);
}

#N_m
{	
	border-top: 3px solid rgb(201, 48, 55);
	padding-left:10px;
	padding-top:10px;
	border-bottom-color:rgb(21, 21, 21);
	background-color: rgb(234, 233, 218);
	text-align: center;
	height:30px;
	font-family:"PT Sans Caption", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.N_news
{
	border-bottom:1px solid rgb(225, 224, 215);
	box-sizing: border-box;
	color: rgb(68, 68, 68);
	display: block;
	font-family:"PT Serif", Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	height: 70px;
	line-height: 20px;
	padding-bottom: 12px;
	left:10px;
	right:10px;
	padding-top:12px;
	text-align: center;
}

.spec_image
{

}

.N_img
{
	margin-bottom: 15px;
	margin-right: 15px;
	
}